element.style {
    within 980px;
   
}

body {
    background-image: url("images/background.png");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    border: 5px blue;
    margin-left: 20px;
    margin-right: 20px; 
    overflow: hidden;
   
    
}

#cloud {
	padding: 5px 0;
    top: 5px;
	position: relative; 
    -webkit-animation-name: moveclouds;
    -webkit-animation-duration:35s;
    -webkit-animation--iteration-count:linear infinite;
    
    animation-name: moveclouds;
    animation-duration:35s;
    animation-iteration-count:linear infinite;

    -webkit-animation: moveclouds 35s linear infinite;
	-moz-animation: moveclouds 35s linear infinite;
	-o-animation: moveclouds 35s linear infinite;
}

@keyframes moveclouds {
    0% {margin-left: 900px;}
	100% {margin-left: -900px;}
}
    
}
@-webkit-keyframes moveclouds {

	0% {margin-left: 900px;}
	100% {margin-left: -900px;}
}
@-moz-keyframes moveclouds {
	0% {margin-left: 900px;}
	100% {margin-left: -900px;}
}
@-o-keyframes moveclouds {
	0% {margin-left: 900px;}
	100% {margin-left: -900px;}
}


#header h1 {
    text-align: center;
    font-family:'Droid Sans', sans-serif;
    font-weight: 400;
    font-size:36px;

}

     

#formCity {
    text-align: left;
    font-family:'Noto Sans', sans-serif;
    font-weight: 400;
    color:;
    
}

#full_content {
  
    display: flex;
    flex-flow: row;
    flex-wrap: wrap;
    background-color:rgba(100, 149,	237, 0.3);
    border-radius: 8px;
    padding:35px;
    margin-right:auto;
    margin-left:auto;
    border: 1px blue;
}

     
 #content_header
{
   flex: 1 auto; 
   color: black;
   background: rgba(153, 178, 255, 0.4);
   paddind: 20px;
   border-radius: 15px;
   text-align: center;
   font-family: 'Arimo', sans-serif;
   font-weight: 600;
   border: 3px blue;
  
}              
   #content_header {
   display: block;
   
    -webkit-transform: 
    transform: scale(1,2);
    -webkit-transition-timing-function:
    -webkit-transition-duration: 550ms; 
    -moz-transform: scale(1,2); 
    -moz-transition-timing-function: 
    -moz-transition-duration: 550ms;

       
   } 

    #content_header:hover {
  
    -webkit-transform: scale(1.11,1.45); 
    -webkit-transition-timing-function: 
    -webkit-transition-duration:550ms; 
    -moz-transform: scale(1.11,1.45); 
    -moz-transition-duration: 550ms;
}  
Status API Training Shop Blog About Pricing
© 2015 GitHub, Inc. Terms Privacy Security C